

.Blog_title{
	font-family:"Comic Sans MS";
	font-size:4vw;
	color:violet;
	text-align: center;
    animation-name:Blogtitle;
    animation-duration:1s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}

.fakesimg1
{
	background-color:url('C:/Users/yogishoban/eclipse-workspace/frontendchat/WebContent/getImages/forum.jpg');
    width: 50%;
    height:50%;
    padding: 20px;
    background-attachment: fixed;
    background-position: center; 
}
.Forum_title{
	font-family:"Comic Sans MS";
	font-size:4vw;
	color:pink;
	text-align: center;
    animation-name:Forumtitle;
    animation-duration:1s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}
.imgs
{
	background-color:url('C:/Users/yogishoban/eclipse-workspace/frontendchat/WebContent/getImages/chat.png');
    width: 50%;
    height:50%;
     padding: 20px;
    background-attachment: fixed;
    background-position: center; 
	
}
.images
{
	
	background-color:url('C:/Users/yogishoban/eclipse-workspace/frontendchat/WebContent/getImages/friends.jpg');
    width: 50%;
    height:50%;
     padding: 20px;
    background-attachment: fixed;
    background-position: center; 
}